 /* Reset básico */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Seção de vídeo e detalhes */
.video-detalhes {
    padding: 40px 20px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.video-info-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 20px;
}

.video-container {
    flex: 2;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.video-container iframe {
    width: 100%;
    height: 450px;
    border-radius: 5px;
}

.info-e-comentarios {
    margin-top: 20px;
}

.camera-options {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-left: 20px;
}

.camera-options h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.camera-options ul {
    list-style: none;
    padding: 0;
}

.camera-options ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.camera-options ul li a {
    display: flex;
    text-decoration: none;
    color: #333;
    width: 100%;
}

.camera-options .thumb {
    width: 120px;
    height: 80px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 5px;
}

/* Estilo da seção de informações e comentários */
.video-info h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.video-info p {
    font-size: 1.2em;
    line-height: 1.5;
}

.comentarios {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
}

.comentarios h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.comentario {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.comentario p {
    margin: 0 0 5px;
}

.comentario span {
    font-size: 0.9em;
    color: #666;
}

.novo-comentario {
    margin-top: 20px;
}

.novo-comentario textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.novo-comentario button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.novo-comentario button:hover {
    background-color: #0056b3;
}

/* Responsividade */
@media (max-width: 768px) {
    .video-info-container {
        flex-direction: column;
    }

    .camera-options {
        margin-left: 0;
        margin-top: 20px;
    }
}